<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingbo.kongzhong.dao.RentAllocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jingbo.kongzhong.entity.RentAllocation">
        <id column="id" property="id" />
        <result column="package_no" property="packageNo" />
        <result column="container_no" property="containerNo" />
        <result column="train_type" property="trainType" />
        <result column="license_no" property="licenseNo" />
        <result column="train_weight" property="trainWeight" />
        <result column="group_no" property="groupNo" />
        <result column="good_name" property="goodName" />
        <result column="good_count" property="goodCount" />
        <result column="destination" property="destination" />
        <result column="remark" property="remark" />
        <result column="track_no" property="trackNo" />
        <result column="customer_name" property="customerName" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
