<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingbo.kongzhong.dao.TrainNumberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jingbo.kongzhong.entity.TrainNumber">
        <id column="id" property="id" />
        <result column="serial_no" property="serialNo" />
        <result column="train_order" property="trainOrder" />
        <result column="remark" property="remark" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
